<!doctype html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>DLX API</title>
  <meta name=author content='Daniel W. Hieber, Patrick J. Hall'>
  <meta name=application-name content=dlx-api>
  <meta name=description content='The API for accessing the DLX database.'>
  <meta name=keywords content='linguistics, Digital Linguistics, DLX, language documentation, language revitalization, University of California Santa Barbara'>
</head>

<body>
  {{{body}}}
</body>
</html>
