{{#section 'style'}}<link rel=stylesheet href=/css/developer.css charset=utf-8>{{/section}}

<main id=developer>
  <h1>Developer</h1>

  <section id=apps>
    <h2>My Apps</h2>
  </section>

  <section id=registration>
    <h2>Register a New App</h2>
  </section>

</main>
