<main id=error>
  <h1>{{code}}: {{message}}</h1>

  {{#if noAccount}}
    <p>No DLX account was found using that login. <a href=/login>Try logging in with a different service</a> or <a href=/register>register for a new account</a>.</p>
  {{/if}}
</main>
