{{#section 'style'}}
<style>

#footer,
#header { display: none; }

#login * { align-items: center; }

#banner,
#login h1 { align-self: center; }

#bigLogo { height: 10rem; padding: 2.5rem; }

#login > ul > li > a > img { height: 5rem; }

h1 {
  font-size: 150%;
  font-weight: bold;
}

</style>
{{/section}}

<main id=login>

  <a id=banner href=/>
    <img id=bigLogo src=/img/tunnel.svg alt='DLX logo'>
  </a>

  <h1>Log in to DLX</h1>

  <ul>
    <li><a href={{authUrls.onedrive}}><img src=/img/onedrive.svg alt='login with Onedrive'></a></li>
    <li>Additional login options coming soon!</li>
  </ul>

</main>
