{{#section 'style'}}<link rel=stylesheet href=/css/login.css charset=utf-8>{{/section}}

<main id=login>

  <a id=banner href=/>
    <img id=bigLogo src=/img/tunnel.svg alt='DLX logo'>
  </a>

  <h1>Log in to DLX</h1>

  <ul>
    <li><a href={{authUrls.onedrive}}><img src=/img/onedrive.svg alt='login with Onedrive'></a></li>
    <li>Additional login options coming soon!</li>
  </ul>

</main>
