{{#section 'style'}}<link rel=stylesheet href=/css/login.css charset=utf-8>{{/section}}

<main id=login>

  <a id=banner href=/>
    <img id=bigLogo src=/img/tunnel.svg alt='DLX logo'>
  </a>

  <h1>
    <label for=loginToggle>
      <p>Login</p>
      <input id=loginToggle type=radio name=toggle value=login>
    </label>
    <label for=registerToggle>
      <p>Register</p>
      <input id=registerToggle type=radio name=toggle value=register>
    </label>
  </h1>

  <ul>
    <li><a href={{authUrls.onedrive}}><img id=onedrive src=/img/onedrive.svg alt='login with Onedrive'></a></li>
    <li>Additional login options coming soon!</li>
  </ul>

</main>
