#developer > h1 {
  align-self: center;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0rem 0.5rem;
  text-align: center;
}
#developer > section {
  align-items: center;
  padding: 1rem;
}
#developer > section > h2 {
  align-self: center;
  font-weight: bold;
}
#developer > #apps > table {
  margin: 0.5rem;
}
#developer > #apps > table > thead {
  font-style: italic;
}
#developer > #apps > table td,
#developer > #apps > table th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.25rem 0.5rem;
}
.desktop #developer {
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.desktop #developer > h1 {
  width: 100%;
}
.desktop #developer label {
  align-items: baseline;
  flex-direction: row;
  padding: 0.25rem 0.5rem;
}
.desktop #developer label > p {
  padding: 0.25rem 0.5rem;
}
.desktop #developer button {
  background-color: white;
  border: 1.5px solid black;
  border-radius: 5px;
  align-self: center;
  padding: 0.25rem 0.5rem;
}
.desktop #developer button:hover:not(:disabled) {
  color: #3399ff;
  border: 1.5px solid #3399ff;
}
