#footer,
#header {
  display: none;
}
#login * {
  align-items: center;
}
#login > * {
  align-self: center;
}
#login #bigLogo {
  height: 10rem;
  padding: 2.5rem;
}
#login #onedrive {
  height: 5rem;
}
#login h1 {
  background-color: #ccc;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 2rem;
}
#login h1 > label > p {
  cursor: pointer;
  padding: 0.5rem;
  text-shadow: 1px 1px 1px black;
}
#login h1 > label > input {
  display: none;
}
