.boldBlue {
  color: #3399ff;
  font-weight: bold;
}
.field {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
}
.field:focus {
  border: 1px solid #3399ff;
}
.header {
  align-self: center;
  font-weight: bold;
  padding: 0rem 0.5rem;
}
input[type=email],
input[type=text] {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
}
input[type=email]:focus,
input[type=text]:focus {
  border: 1px solid #3399ff;
}
.link {
  border-bottom: 2px solid white;
}
.link:link {
  color: #3399ff;
  font-weight: bold;
}
.link:visited {
  color: #3399ff;
  font-weight: bold;
}
.link:hover {
  border-bottom: 2px solid #3399ff;
}
.link:active {
  color: #3399ff;
  font-weight: bold;
}
body {
  font-family: 'Fira Sans';
  min-height: 100vh;
  min-width: 100vw;
}
main {
  flex-grow: 1;
}
#header {
  align-items: center;
  padding: 0.5rem;
}
#header > h1 {
  font-size: 2rem;
  padding: 0rem 1rem;
}
#header #menuButton {
  align-items: center;
  cursor: pointer;
  flex-direction: row;
}
#header #menuButton > p {
  padding: 0rem 0.5rem;
}
#header > #nav > ul > li > a {
  border-bottom: 2px solid white;
}
#header > #nav > ul > li > a:link {
  color: #3399ff;
  font-weight: bold;
}
#header > #nav > ul > li > a:visited {
  color: #3399ff;
  font-weight: bold;
}
#header > #nav > ul > li > a:hover {
  border-bottom: 2px solid #3399ff;
}
#header > #nav > ul > li > a:active {
  color: #3399ff;
  font-weight: bold;
}
#header > #userName {
  align-items: baseline;
  flex-direction: row;
}
#header > #userName > a {
  border-bottom: 2px solid white;
  padding: 0rem 0.5rem;
}
#header > #userName > a:link {
  color: #3399ff;
  font-weight: bold;
}
#header > #userName > a:visited {
  color: #3399ff;
  font-weight: bold;
}
#header > #userName > a:hover {
  border-bottom: 2px solid #3399ff;
}
#header > #userName > a:active {
  color: #3399ff;
  font-weight: bold;
}
#header > #userName > #logoutButton {
  background-color: white;
  color: #3399ff;
  cursor: pointer;
  border-bottom: 1px solid white;
}
#header > #userName > #logoutButton:hover {
  border-bottom: 1px solid #3399ff;
}
footer {
  align-items: center;
}
#github {
  border-bottom: 2px solid white;
}
#github:link {
  color: #3399ff;
  font-weight: bold;
}
#github:visited {
  color: #3399ff;
  font-weight: bold;
}
#github:hover {
  border-bottom: 2px solid #3399ff;
}
#github:active {
  color: #3399ff;
  font-weight: bold;
}
#github > div {
  align-items: center;
  flex-direction: row;
}
#github > div > img {
  height: 2rem;
  padding: 0.25rem;
  width: 2rem;
}
.mobile #nav {
  display: none;
}
.mobile #nav > ul > li {
  align-items: center;
}
.mobile #userName {
  display: none;
}
.desktop #header,
.desktop #nav > ul {
  flex-direction: row;
}
.desktop #menuButton {
  display: none;
}
.desktop #nav {
  flex-grow: 1;
}
.desktop #nav > ul > li {
  padding-right: 1rem;
}
