// styling by class
@wugbotBlue: #3399ff;

.boldBlue {
  color: @wugbotBlue;
  font-weight: bold;
}

.button {
  background-color: white;
  border: 1.5px solid black;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;

  &:hover:not(:disabled) {
    color: @wugbotBlue;
    border: 1.5px solid @wugbotBlue;
  }
}

.field {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;

  &:focus { border: 1px solid @wugbotBlue; }

}

.header {
  align-self: center;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0rem 0.5rem;
}

input[type=email],
input[type=text] {
  .field;
}

.link {
  border-bottom: 2px solid white;
  &:link { .boldBlue; }
  &:visited { .boldBlue; }
  &:hover { border-bottom: 2px solid @wugbotBlue; }
  &:active { .boldBlue; }
}

table {}

// styling by DOM
body {
  font-family: 'Fira Sans';
  min-height: 100vh;
  min-width: 100vw;
}

main { flex-grow: 1; }

#header {
  align-items: center;
  padding: 0.5rem;

  > h1 {
    font-size: 2rem;
    padding: 0rem 1rem;
  }

  #menuButton {
    align-items: center;
    cursor: pointer;
    flex-direction: row;

    > p { padding: 0rem 0.5rem; }
  }

  > #nav > ul > li > a { .link; }

  > #userName {
    align-items: baseline;
    flex-direction: row; }

  > #userName > a {
    .link;
    margin: 0rem 0.25rem;
  }

  > #userName > #logoutButton {
    background-color: white;
    color: @wugbotBlue;
    cursor: pointer;
    border-bottom: 1px solid white;
    margin: 0rem 0.25rem;

    &:hover {
      border-bottom: 1px solid @wugbotBlue;
    }

  }

}

footer {
  align-items: center;
}

#github {

  .link;

  > div {
    align-items: center;
    flex-direction: row;
  }

  > div > img {
    height: 2rem;
    padding: 0.25rem;
    width: 2rem;
  }

}

.mobile {
  #nav { display: none; }
  #nav > ul > li { align-items: center; }
  #userName { display: none; }
}

.desktop {

  #header,
  #nav > ul { flex-direction: row; }

  #menuButton { display: none; }

  #nav { flex-grow: 1; }

    #nav > ul > li { padding-right: 1rem; }

}
