@import (reference) './public/less/main.less';

#register {
  h1 {
    .header;
    font-size: 1.5rem;
  }

  > form {
    align-self: center;

    > label {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      padding: 0.5rem;

      > p { margin-right: 1rem; }

    }

    > #submit {
      align-self: center;
      background-color: white;
      border: 1.5px solid black;
      border-radius: 5px;
      padding: 0.25rem 0.5rem;

      &:hover {
        color: @wugbotBlue;
        border: 1.5px solid @wugbotBlue;
      }

    }
  }

  #submit { cursor: pointer; }
}
