{
  "swagger" : "2.0",
  "info" : {
    "description" : "The Digital Linguistics (DLx) database API",
    "version" : "0.1.0",
    "title" : "DLx",
    "contact" : {
      "name" : "Daniel W. Hieber",
      "url" : "http://danielhieber.com/",
      "email" : "dhieber@umail.ucsb.edu"
    },
    "license" : {
      "name" : "MIT"
    }
  },
  "host" : "api.digitallinguistics.io",
  "basePath" : "/v0",
  "tags" : [ {
    "name" : "Language",
    "description" : "Operations on Languages"
  }, {
    "name" : "Lexeme",
    "description" : "Operations on Lexemes"
  }, {
    "name" : "Lexicon",
    "description" : "Operations on Lexicons"
  }, {
    "name" : "Location",
    "description" : "Operations on Locations"
  }, {
    "name" : "Media",
    "description" : "Operations on Media Items"
  }, {
    "name" : "Orthography",
    "description" : "Operations on Orthographies"
  }, {
    "name" : "Person",
    "description" : "Operations on Persons"
  }, {
    "name" : "Text",
    "description" : "Operations on Texts"
  } ],
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "security" : [ {
    "token" : [ ]
  } ],
  "paths" : {
    "/languages" : {
      "get" : {
        "tags" : [ "Language" ],
        "summary" : "Retrieve multiple Languages",
        "description" : "If the `ids` parameter is omitted, returns all items that the authenticated user or client has permission to access.",
        "operationId" : "getLanguages",
        "parameters" : [ {
          "name" : "ids",
          "in" : "query",
          "description" : "A comma-separated list of IDs",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "csv",
          "allowEmptyValue" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation successful."
          }
        }
      },
      "put" : {
        "tags" : [ "Language" ],
        "summary" : "Upsert a Language",
        "operationId" : "upsertLanguage",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "A database resource to upsert",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Document"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Upsert successful."
          }
        }
      }
    },
    "/languages/{languageId}" : {
      "get" : {
        "tags" : [ "Language" ],
        "summary" : "Retrieve a Language by ID",
        "operationId" : "getLanguage",
        "parameters" : [ {
          "name" : "languageId",
          "in" : "path",
          "description" : "The ID of the Language to perform the operation on",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation successful."
          }
        }
      },
      "delete" : {
        "tags" : [ "Language" ],
        "summary" : "Delete a Language by ID",
        "operationId" : "deleteLanguage",
        "parameters" : [ {
          "name" : "languageId",
          "in" : "path",
          "description" : "The ID of the Language to perform the operation on",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Delete operation successful."
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "token" : {
      "description" : "An access token (JSON Web Token) included in the `Authorization` header. Tokens may be retrieved programmatically from https://digitallinguistics.auth0.com. See the authorization documentation at http://developer.digitallinguistics.io/api/.",
      "type" : "apiKey",
      "name" : "token",
      "in" : "header"
    }
  },
  "definitions" : {
    "Document" : {
      "type" : "object",
      "required" : [ "type" ],
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        }
      },
      "title" : "Document",
      "description" : "A document in the DLx database"
    }
  },
  "parameters" : {
    "body" : {
      "in" : "body",
      "name" : "body",
      "description" : "A database resource to upsert",
      "required" : true,
      "schema" : {
        "$ref" : "#/definitions/Document"
      }
    },
    "ids" : {
      "name" : "ids",
      "in" : "query",
      "description" : "A comma-separated list of IDs",
      "required" : false,
      "type" : "array",
      "items" : {
        "type" : "string"
      },
      "collectionFormat" : "csv",
      "allowEmptyValue" : false
    }
  },
  "responses" : {
    "DeleteSuccessful" : {
      "description" : "Delete operation successful."
    },
    "Success" : {
      "description" : "Operation successful."
    },
    "UpsertSuccessful" : {
      "description" : "Upsert successful."
    }
  },
  "externalDocs" : {
    "description" : "How to use the API",
    "url" : "http://developer.digitallinguistics.io/api/"
  }
}