{
  "swagger" : "2.0",
  "info" : {
    "description" : "The Digital Linguistics (DLx) REST API",
    "version" : "0.3.0",
    "title" : "DLx",
    "contact" : {
      "name" : "Daniel W. Hieber",
      "url" : "http://danielhieber.com/",
      "email" : "dhieber@umail.ucsb.edu"
    },
    "license" : {
      "name" : "MIT"
    }
  },
  "host" : "api.digitallinguistics.io",
  "basePath" : "/v0",
  "tags" : [ {
    "name" : "Language",
    "description" : "Operations on Languages"
  }, {
    "name" : "Lexeme",
    "description" : "Operations on Lexemes"
  } ],
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "security" : [ {
    "Authorization" : [ ]
  } ],
  "paths" : {
    "/languages" : {
      "get" : {
        "tags" : [ "Language" ],
        "summary" : "Get all Languages",
        "description" : "Retrieves all the Languages that the authenticated user or client has permission to access.",
        "operationId" : "getLanguages",
        "parameters" : [ {
          "name" : "continuation",
          "in" : "header",
          "description" : "The `dlx-continuation` header is used to send a continuation token with the request, when retrieving the next page of results.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maxItems",
          "in" : "header",
          "description" : "The `dlx-max-item-count` header is used to limit the number of results to a certain amount at a time (by default all results will be returned). If there are more results to be returned, a continuation token will also be sent in the `dlx-continuation` header.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "public",
          "in" : "query",
          "description" : "Set this parameter to `true` to include all publicly-accessible resources, not just those that the user is listed as an Owner, Contributor, or Viewer for.",
          "required" : false,
          "type" : "string",
          "default" : "false"
        } ],
        "responses" : {
          "200" : {
            "description" : "200: Operation successful.",
            "headers" : {
              "dlx-continuation" : {
                "type" : "string",
                "description" : "A continuation token for retrieving more results"
              },
              "dlx-item-count" : {
                "type" : "string",
                "description" : "The number of items returned in the response"
              },
              "Last-Modified" : {
                "type" : "string",
                "description" : "The time that the item was last modified"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Language" ],
        "summary" : "Add a new Language",
        "operationId" : "addLanguage",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "A database resource to upsert",
          "required" : true,
          "schema" : {
            "type" : "object"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "201: The resource was created successfully.",
            "headers" : {
              "Last-Modified" : {
                "type" : "string",
                "description" : "The time that the item was last modified"
              }
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "Authorization" : {
      "description" : "An access token (JSON Web Token) included in the `Authorization` header in the format `Bearer {token}`. Tokens may be retrieved programmatically from https://digitallinguistics.auth0.com. See the authorization documentation at http://developer.digitallinguistics.io/api/.",
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : { },
  "parameters" : {
    "body" : {
      "in" : "body",
      "name" : "body",
      "description" : "A database resource to upsert",
      "required" : true,
      "schema" : {
        "type" : "object"
      }
    },
    "continuation" : {
      "name" : "continuation",
      "in" : "header",
      "description" : "The `dlx-continuation` header is used to send a continuation token with the request, when retrieving the next page of results.",
      "required" : false,
      "type" : "string"
    },
    "maxItems" : {
      "name" : "maxItems",
      "in" : "header",
      "description" : "The `dlx-max-item-count` header is used to limit the number of results to a certain amount at a time (by default all results will be returned). If there are more results to be returned, a continuation token will also be sent in the `dlx-continuation` header.",
      "required" : false,
      "type" : "string"
    },
    "public" : {
      "name" : "public",
      "in" : "query",
      "description" : "Set this parameter to `true` to include all publicly-accessible resources, not just those that the user is listed as an Owner, Contributor, or Viewer for.",
      "required" : false,
      "type" : "string",
      "default" : "false"
    }
  },
  "responses" : {
    "Success" : {
      "description" : "200: Operation successful.",
      "headers" : {
        "dlx-continuation" : {
          "type" : "string",
          "description" : "A continuation token for retrieving more results"
        },
        "dlx-item-count" : {
          "type" : "string",
          "description" : "The number of items returned in the response"
        },
        "Last-Modified" : {
          "type" : "string",
          "description" : "The time that the item was last modified"
        }
      }
    },
    "Created" : {
      "description" : "201: The resource was created successfully.",
      "headers" : {
        "Last-Modified" : {
          "type" : "string",
          "description" : "The time that the item was last modified"
        }
      }
    }
  },
  "externalDocs" : {
    "description" : "How to use the API",
    "url" : "http://developer.digitallinguistics.io/api/"
  }
}